hackaton
env

#bynaries
__pycache__

#vscode
.vscode

#logs
.log

#frontend
frontend
__pycache__/common.cpython-39.pyc
__pycache__/common.cpython-39.pyc
__pycache__/common.cpython-39.pyc
handle/__pycache__/replace.cpython-39.pyc
